# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments (uv puede usar .venv)
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pylint.d/

# Coverage
.coverage
coverage.xml
htmlcov/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Matplotlib (por si genera configs locales)
.matplotlib/

# Logs / temp
*.log
tmp/
